.btn {
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.theme-one {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
}

.theme-one:hover {
  background-color: hsl(0, 0%, 100%);
}
.theme-two {
  color: hsl(60, 10%, 19%);
  background-color: hsl(45, 7%, 89%);
}

.theme-two:hover {
  background-color: hsl(0, 0%, 100%);
}
.theme-three {
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 47%, 21%);
}

.theme-three:hover {
  background-color: hsl(290, 70%, 36%);
}

@media (max-width: 500px) {
  .btn {
    font-size: 2rem;
  }
}
